<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.ico.service.data.dao.PlatformEmailSendMapper">
  <resultMap id="BaseResultMap" type="com.sky.ico.service.data.entity.PlatformEmailSend">
    <id column="send_id" jdbcType="BIGINT" property="sendId" />
    <result column="email_id" jdbcType="BIGINT" property="emailId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="to_address" jdbcType="VARCHAR" property="toAddress" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="send_status" jdbcType="TINYINT" property="sendStatus" />
    <result column="result" jdbcType="TINYINT" property="result" />
    <result column="fail_code" jdbcType="VARCHAR" property="failCode" />
    <result column="fail_reason" jdbcType="VARCHAR" property="failReason" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    send_id, email_id, username, to_address, content, send_status, result, fail_code, 
    fail_reason, apply_time, finish_time, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_platform_email_send
    where send_id = #{sendId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_platform_email_send
    where send_id = #{sendId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sky.ico.service.data.entity.PlatformEmailSend">
    insert into t_platform_email_send (send_id, email_id, username, 
      to_address, content, send_status, 
      result, fail_code, fail_reason, 
      apply_time, finish_time, create_time, 
      update_time)
    values (#{sendId,jdbcType=BIGINT}, #{emailId,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, 
      #{toAddress,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{sendStatus,jdbcType=TINYINT}, 
      #{result,jdbcType=TINYINT}, #{failCode,jdbcType=VARCHAR}, #{failReason,jdbcType=VARCHAR}, 
      #{applyTime,jdbcType=TIMESTAMP}, #{finishTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sky.ico.service.data.entity.PlatformEmailSend">
    insert into t_platform_email_send
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sendId != null">
        send_id,
      </if>
      <if test="emailId != null">
        email_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="toAddress != null">
        to_address,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="sendStatus != null">
        send_status,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="failCode != null">
        fail_code,
      </if>
      <if test="failReason != null">
        fail_reason,
      </if>
      <if test="applyTime != null">
        apply_time,
      </if>
      <if test="finishTime != null">
        finish_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sendId != null">
        #{sendId,jdbcType=BIGINT},
      </if>
      <if test="emailId != null">
        #{emailId,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="toAddress != null">
        #{toAddress,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="sendStatus != null">
        #{sendStatus,jdbcType=TINYINT},
      </if>
      <if test="result != null">
        #{result,jdbcType=TINYINT},
      </if>
      <if test="failCode != null">
        #{failCode,jdbcType=VARCHAR},
      </if>
      <if test="failReason != null">
        #{failReason,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null">
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sky.ico.service.data.entity.PlatformEmailSend">
    update t_platform_email_send
    <set>
      <if test="emailId != null">
        email_id = #{emailId,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="toAddress != null">
        to_address = #{toAddress,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="sendStatus != null">
        send_status = #{sendStatus,jdbcType=TINYINT},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=TINYINT},
      </if>
      <if test="failCode != null">
        fail_code = #{failCode,jdbcType=VARCHAR},
      </if>
      <if test="failReason != null">
        fail_reason = #{failReason,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null">
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null">
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where send_id = #{sendId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sky.ico.service.data.entity.PlatformEmailSend">
    update t_platform_email_send
    set email_id = #{emailId,jdbcType=BIGINT},
      username = #{username,jdbcType=VARCHAR},
      to_address = #{toAddress,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      send_status = #{sendStatus,jdbcType=TINYINT},
      result = #{result,jdbcType=TINYINT},
      fail_code = #{failCode,jdbcType=VARCHAR},
      fail_reason = #{failReason,jdbcType=VARCHAR},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where send_id = #{sendId,jdbcType=BIGINT}
  </update>
</mapper>